*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    padding: 70px;
    color: aliceblue;
    background-color: blueviolet;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
	font-weight: 500;
}
.temp-head{
    color: rgb(44, 32, 34);
}
.container h1{
    padding-bottom: 70px;
    text-align: center;
}
.Temperature{
    padding: 50px 0;
    width: 100%;
    background-color: rgb(117, 112, 112);
    border-radius: 20px;
}
.temp-input{
    display: inline-block;
}
label{
    font-size: 30px;
    display: block;
    color: rgb(44, 32, 34);
}
.input{
    margin: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
}